// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// top.html 

.cover-img {
	height: 350px;
	display: table;
	width: 100%;
	background-size: cover;
}