<div class="conteiner">
  <div class="row mt-2 justify-content-center">
    <h1 class="display-3"><strong>About</strong></h1>
  </div>
  <div class="row mt-3 text-center justify-content-center">
    <h4>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>また、全国への発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </h4>
  </div>
  <div class="row">
    <div class="col-6 offset-3 mt-4 d-flex cover-imge" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXG1bd15-U_dDJpwVDtLe3aAIc8c26r4llhQ&usqp=CAU');"></div>
  </div>
</div>