// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-circle-3d {
  display: inline-block;
  text-decoration: none;
  background: white;
  color: gray;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.29);
  transition: .4s;
  font-size: 30px;
}

.btn-circle-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.btn-circle-3d:hover {
  text-decoration: none;
}

thead, td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}