/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// header
body{
  padding-top    : 140px;      /* ヘッダーの高さに合わせる */
  padding-bottom : 100px;      /* フッターの高さに合わせる */
}
.header {
  width: 100%;
  background-color: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  z-index: 10;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: lightblue;
  z-index: 10;
}

// nav-list-bottan

.btn-default {
  width:80px;
  height:40px;
  font-size:14px;
  border-color: #343a40;
  padding: 0.5rem 0.1rem;
}

.btn-default-about {
  width:80px;
  height:40px;
  font-size:14px;
  border-color: #343a40;
  padding: 0.5rem 0.8rem;
}

.btn-default-admin {
  width:90px;
  height:40px;
  font-size:14px;
  border-color: #343a40;
  padding: 0.5rem 0.9rem;
}

.btn-default-logout {
  width:90px;
  height:40px;
  font-size:14px;
  border-color: #343a40;
  padding: 0.5rem 0.4rem;
}

.btn-default-long {
  width:90px;
  height:40px;
  font-size:14px;
  border-color: #343a40;
  padding: 0.5rem 0rem;
}

.search {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: 0px none;
  border: 1px solid #ced4da;
  background-color: #fff;
}